[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/migap/Desktop/ARPA attestation.pdf]
row=4
col=1

[/home/migap/Desktop/icra]
row=3
col=0

[/home/migap/Desktop/lettre_preavis.pdf]
row=1
col=3

[/home/migap/Desktop/Formulaire Remboursement OM.pdf]
row=0
col=0

[/home/migap/Desktop/RS_order-Thu Jun 24 15 53 29 BST 2021.pdf]
row=4
col=3

[/home/migap/Desktop/Screenshot_20201128_211830.png]
row=6
col=3

[/home/migap/Desktop/mutuelle.pdf]
row=2
col=3

[/home/migap/Desktop/decret.pdf]
row=6
col=1

[/home/migap/Desktop/Screenshot_20201128_201722.png]
row=5
col=3

[/home/migap/Desktop/tutu.tex ]
row=8
col=3

[/home/migap/Desktop/experiments]
row=8
col=0

[/home/migap/Desktop/best_photos.zip]
row=5
col=1

[/home/migap/Desktop/velux]
row=1
col=1

[/home/migap/Desktop/carteVenezuela.jpg]
row=7
col=1

[/home/migap/Desktop/appleaccountPIN.pdf]
row=3
col=1

[/home/migap/Desktop/es-energies-formulaire-transcription-electricite.pdf]
row=3
col=2

[/home/migap/Desktop/Screenshot_20220104_165827.png]
row=7
col=3

[/home/migap/Desktop/AA8_laptop_stand.gcode]
row=2
col=1

[/home/migap/Desktop/journeeRobotique]
row=5
col=0

[/home/migap/Desktop/xfce4.bak]
row=2
col=0

[/home/migap/Desktop/doc_agence.zip]
row=2
col=2

[/home/migap/Desktop/DOC250121-25012021144517.pdf]
row=1
col=2

[/home/migap/Desktop/FICHE DE RENSEIGNEMENTS LOCATAIRE.pdf]
row=8
col=2

[/home/migap/Desktop/chrome-ocdlmjhbenodhlknglojajgokahchlkk-Default.desktop]
row=3
col=3

[/home/migap/Desktop/FICHE DE RENSEIGNEMENTS CAUTIONNAIRE-1.pdf]
row=6
col=2

[/home/migap/Desktop/kalmanFilter]
row=0
col=1

[/home/migap/Desktop/doc_agence]
row=7
col=0

[/home/migap/Desktop/eztvtorrent.cc]
row=5
col=2

[/home/migap/Desktop/icra.zip]
row=0
col=3

[/home/migap/Desktop/Carte identité.pdf]
row=0
col=4

[/home/migap/Desktop/icra2022_prop.txt]
row=4
col=0

[/home/migap/Desktop/designOptimization.bib]
row=0
col=2

[/home/migap/Desktop/z.pdf]
row=1
col=0

[/home/migap/Desktop/corke_email.org]
row=6
col=0

[/home/migap/Desktop/CongeLogement.pdf]
row=8
col=1

[/home/migap/Desktop/espaceDeTravail.png]
row=4
col=2

[/home/migap/Desktop/FICHE DE RENSEIGNEMENTS CAUTIONNAIRE.pdf]
row=7
col=2

[e754606e-e0e4-4643-8232-d04212708390]
row=6
col=4

[7A86C3B486C36F67]
row=7
col=4

[e4e06b39-f997-421b-a0dd-2d81661b72c1]
row=4
col=4

[23ad904f-2311-4e27-8888-5770c7ae521e]
row=5
col=4

[Trash]
row=3
col=4

[/]
row=2
col=4

[/home/migap]
row=1
col=4

